# Godot 4+ specific ignores
.godot/
android/
*.tmp

# Godot specific ignores
.import/
export.cfg
export_presets.cfg
*.translation
*.tmp

# Project specific ignores
dist_web/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini